.container{
    background-color: aqua;
    padding: 20px;
    
}
.list1{
    float: right;
    display: inline;
    margin: 20px;
    font-size: larger;
}
.list{
    display: inline;
    margin: 20px;
    font-size: larger;
}
a{
    color: brown;
}
.ig{

    margin-left: 25%;
}
.par
{
    margin-top: 10%;
}